body {
    background-color: rgb(32, 32, 32);
    color: white;
}

#title {
    text-align: center;
    font-size: 50px;
    border-bottom: 1px solid gray;
    margin:0px;
    padding-top:30px;
    padding-bottom:30px;
}

#introduce {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: solid 1px gray;
}

#menu {
    text-align: center;
}

#menu div {
    margin-top:30px;
}

#menu a, #go_home .fake {
    color: skyblue;
    font-size: 25px;
    text-decoration: underline;
    cursor:pointer;
}

#mad_game {
    height: 450px;
    border-bottom: 1px gray solid;
    padding: 30px;
}

#go_home {
    text-align: center;
    align-self: flex-end;
}

#go_home a {
    margin-left: 10px;
    margin-right: 10px;
}

#title a {
    color: white;
    text-decoration: none;
    cursor:default;
}

#btn1 {
    display: block;
}

#btn2 {
    margin-left: 60px;
    display:none;
}

.btns {
    margin-top: 200px;
    display: none;
}

#realGoHome, #rrealGoHome {
    display: none;
    font-size: 35px;
    color: skyblue;
    cursor:pointer;
    text-decoration: underline;
}

#ifclick {
    display: none;
    color: skyblue;
}

#i {
    margin-left: 550px;
}